<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangml.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.yangml.pojo.Menu">
    <result column="Menu_ID" jdbcType="INTEGER" property="menuId" />
    <result column="Menu_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <resultMap id="BaseMenu" type="com.yangml.pojo.Menu">
    <result column="Menu_ID" jdbcType="INTEGER" property="menuId" />
    <result column="Menu_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="MENU_URL" jdbcType="VARCHAR" property="menuUrl" />
    <result column="FATHER_ID" jdbcType="INTEGER" property="fatherId" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <insert id="insert" parameterType="com.yangml.pojo.Menu">
    insert into tbMenu (Menu_ID, Menu_NAME, CREATED_BY, 
      CREATED_TIME, UPDATED_BY, UPDATED_TIME
      )
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yangml.pojo.Menu">
    insert into tbMenu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        Menu_ID,
      </if>
      <if test="menuName != null">
        Menu_NAME,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="findMenuByRoleId" resultMap="BaseMenu" parameterType="java.util.Map">
      SELECT m.*
      FROM tbMenu m
      JOIN  tb_role_menu re
      on m.Menu_ID = re.MENU_ID
      where re.Role_ID
      in(
      <foreach collection="roleMap" item="value" index="key" separator=",">
        #{value}
      </foreach>
    )
  </select>
</mapper>